Source: hcan
Section: misc
Priority: optional
Maintainer: Ingo Lages <i.Lages@gmx.de>
Build-Depends: debhelper (>> 4.0.0), dpatch, devscripts, libboost-regex-dev, libboost-program-options-dev, libreadline6-dev, libpopt-dev, anyremote
Standards-Version: 0.96

Package: hcan
Architecture: any
Depends: ${shlibs:Depends}
Description: HCAN Administration Tools
  http://www.iuse.org, http://wiki.iuse.org
  

